<ion-view title="钢笔下的赞美诗">
    <ion-nav-buttons class="bar-calm" side="right" >
        <button class="button button-icon ion-ios-gear-outline"></button>
    </ion-nav-buttons>
    <ion-content>
        <div style="text-align: center">
            <img src="images/2.jpg" style="width:12% ; margin-top: 3%;"/>
        </div>
        <p style="text-align: center;">钢笔下的赞美诗</p>
        <div class="row" style="text-align: center">
            <div class="col-33" style="color: #666666;">发布<span style="color: #333333"> 134</span></div>
            <div class="col-33" style="color: #666666;">订阅<span style="color: #333333"> 68</span></div>
            <div class="col-33" style="color: #666666;">订阅者<span style="color: #333333"> 145</span></div>
        </div>
        <div style="height: 2%;width: 100%;background-color:#f2f2f2;color:#f2f2f2;margin-top: 1%; ">1</div>
        <div class="list">
            <div class="item">
                <i class="icon ion-ios-compose shouye"> <span style="margin-left: 10px;color: #333">我的发布</span></i>
                <i class="item-note">134 ></i>
            </div>
            <div class="item">
                <i class="icon ion-ios-email shouye"> <span style="margin-left: 10px;color: #333">我的消息</span></i>
                <i class="item-note">></i>
            </div>
            <div class="item">
                <i class="icon ion-ios-briefcase shouye"> <span style="margin-left: 10px;color: #333">我的订单</span></i>
                <i class="item-note">></i>
            </div>
            <div class="item">
                <i class="icon ion-ios-cart shouye"> <span style="margin-left: 10px;color: #333">购物车</span></i>
                <i class="item-note">12 ></i>
            </div>
            <div class="item">
                <i class="icon ion-social-usd shouye"> <span style="margin-left: 10px;color: #333">我的积分</span></i>
                <i class="item-note">></i>
            </div>
            <div class="item">
                <i class="icon ion-ribbon-b shouye"> <span style="margin-left: 10px;color: #333">我的等级</span></i>
                <i class="item-note">LV3 ></i>
            </div>
        </div>
    </ion-content>
</ion-view>